<h1>Create a New Trip!</h1>

<%= form_with model: @place do |form| %>
    <p>
    <%= form.label "name", "Name of Destination" %>
    <%= form.text_field "name" %>
    <%= form.submit %>
    </p>
<% end %>

<a href = "/places">Back to Trips</a>