<h1>Create a New Place!</h1>

<%= form_with model: @place do |form| %>
    <p>
    <%= form.label "name", "Name of Place" %>
    <%= form.text_field "name" %>
    <%= form.submit %>
    </p>
<% end %>